# temp.py
Delete
__pycache__/
/LOGS
.env
node_modules
/.vscode
PC_Tools/sync_handler_data.json
*.pyc
*.h5
*.tflite
settings.json
model_preset_configuration.json
.config/settingsModelTest.json
.config/settingsModelTrain.json
.config/cnnModelTest.json
