[MESSAGES CONTROL]
disable=wrong-import-position,
    wrong-import-order,
    missing-docstring,
    ungrouped-imports,
    invalid-name,
    protected-access,
    too-few-public-methods,
    exec-used,
    global-statement,
    multiple-statements,
    locally-disabled,
    cyclic-import,
    too-many-arguments,
    redefined-builtin,
    useless-suppression,
    duplicate-code,
    undefined-all-variable,
    inconsistent-return-statements,
    useless-return,
    useless-object-inheritance,
    import-outside-toplevel,
    self-assigning-variable,
    raise-missing-from,
    super-with-arguments,
    consider-using-f-string,
    consider-using-assignment-expr,
    redundant-u-string-prefix,
    unnecessary-lambda-assignment,
    unnecessary-dunder-call,
    use-dict-literal,
    confusing-consecutive-elif,


enable=consider-using-augmented-assign